  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <article>
          <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1517329062/averie-woodard-319832_tyszve.jpg" alt="" class="img-fluid">
          <div class="blog-post">
            <div class="blog-post-header">
              <p class="categories"><a href="">fitting</a> <a href="">bien aller</a></p>
              <h2><a href="blog-post.html">Cours de boob-education 1</a></h2>
              <div class="row">
                <div class="col-sm-6 blog-post-author">
                  <i class="fa fa-user" aria-hidden="true"></i> <a href="#">Pomelo</a>
                </div>
                <div class="col-sm-6 blog-post-date">
                  <i class="fa fa-calendar" aria-hidden="true"></i> <time datetime="2016-03-03">3 Février, 2018</time>
                </div>
              </div>
            </div>
            <div>
              <p class="text-indent">Il semblerait que 80 à 85% des femmes portent des soutiens gorges mal adaptés. Mais alors, pourquoi porte-t-on des soutiens-gorge ?</p>
              <p class="text-indent">Pour être confortable, pour être attirante ou tout simplement et principalement pour maintenir la forme de sa poitrine. Au-delà des statistiques, le plus important est de savoir si nous nous sentons confortable.</p>
              <p class="text-indent">Posez-vous simplement les questions suivantes :<br><strong>
              - Est-ce que vos seins sortent du bonnet ?<br>
              - Est-ce que ca vous démange dans le dos ?<br>
              - Votre soutien-gorge est-il inconfortable ?<br></strong><br>
              Si la réponse est « oui » à l’une de ces questions, voici quelques conseils pour enfin être confortable dans votre soutien-gorge. Une sorte de guide du débutant qui vous emmènera à la découverte des soutiens-gorge, leur importance et le fun associé.</p>
                <p><img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516224744/giphy_8_ectatj.gif" alt="" class="img-fluid my-4"></p>
                <h2>#1 Chaque poitrine est unique alors connaissez votre taille !</h2>
              <p class="text-indent">Nos mensurations sont essentielles. Les soutiens-gorge sont fabriqués sur bases de standards prédéfini donc connaitre parfaitement votre taille est le point de départ. Il est recommandé de faire 2 mesures : l’une du buste, que vous faite sous la poitrine et la deuxième directement sur la poitrine en passant sous les aisselles.</p>
              <h3>1ère étape : quel est votre tour de poitrine</h3>
              <p class="text-indent">- Munissez-vous d’un mètre-ruban
- Placez-le au niveau de la pointe des seins, bien à l’horizontale
- Faites le tour de votre buste en passant le ruban sous vos aisselles
- Prenez la mesure
Pour que le résultat soit le plus précis possible, je vous conseille de prendre votre mesure en étant déshabillée et bien droite. En effet, l’épaisseur des vêtements peut fausser le résultat. Par ailleurs, le mètre ruban doit être ni trop serré, ni trop lâche.</p>
              <h3>2ème étape : quel est votre tour du buste</h3>
              <p class="text-indent">Pour mesurer votre buste, rien de plus simple : passez le mètre-ruban juste sous votre poitrine (sans gonfler votre cage thoracique) et notez la taille en cm.</p>
              <p class="text-indent">Ces deux mesures sont la base mais rappelez-vous que chaque marque est différente et leurs mesures peuvent varier. Une fois ces deux mesures en votre possession, les choses vont se compliquer…</p>
              <blockquote>
                <p>Ce serait beaucoup trop simple de trouver un soutien-gorge qui conviendrait à toute ! Chaque femme est unique :).</p>
              </blockquote>
              <h2>#2 Soyez confortable dans votre soutien-gorge</h2>
              <p class="text-indent">Les femmes associent souvent la largeur avec confort mais un soutient gorge doit être toujours être bien cintré. 90% de la stabilité du soutien-gorge est assuré par un bandeau arrière tendu et au bon niveau du dos. Si le bandeau arrière est trop détendu il remontera le long du dos et les autres éléments sur soutient gorge ne permettrons plus d’assurer la stabilité de la poitrine. Conseil : Le soutient gorge doit être suffisamment séré pour laisser passer 2 doigts sous les bretelles. Le bandeau arrière doit être au même niveau ou en dessous du niveau des bonnets. Cela vous permettra de maintenir une parfaite stabilité tout au long de la journée.</p>
              <h2>#3 N’oubliez pas la forme, elles sont nombreuses et très jolies !</h2>
              <p class="text-indent">Il existe beaucoup de formes différentes disponibles. Certaines, comme les balconettes ou les triangles conviennent mieux aux seins en cloche ou ronds et leur donnerons une poussée parfaite (push-up).
Les seins en larme et relâchés iront mieux dans un soutien-gorge push-up ou racerback. Vous avez de la place entre les seins ? Choisissez des soutiens-gorge à armatures ou emboitants.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-3">
        <aside class="sidebar">
          <div class="block">
            <h3>A propos</h3><img src="http://res.cloudinary.com/dl3nkexul/image/upload/c_scale,w_287/v1517660468/mateus-bassan-242163_l3qxwy.jpg" alt="" class="img-fluid">
            <div class="text">
              <p>Le blog Pomelo c'est un endroit fait que pour toi : des conseils de fitting, des nouveautés, des interviews sur les marques... Tout ce que tu as besoin de avoir sur l'univers du soutien-gorge !</p>
            </div>
          </div>
          <div class="block">
            <h3>Contacte-nous</h3>
            <p class="social"><a href="https://www.facebook.com/Pomelolo-1999733610346467/" target="_blank"><i class="fab fa-facebook social-icon-small" aria-hidden="true"></i></a> <a href="#"><i class="fab fa-instagram social-icon-small" aria-hidden="true"></i></a></p>
          </div>
        </aside>
      </div>
    </div>
  </div>
