  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-md-12">
        <article>
          <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1517329062/averie-woodard-319832_tyszve.jpg" alt="" class="img-fluid">
          <div class="blog-post" data-acos="fadeInUp">
            <div class="blog-post-header">
              <p class="categories"><a href="">Fitting</a> <a href="">bien aller</a></p>
              <h2><a href="/blog/boob-education-1">Cours de boob-education 1</a></h2>
              <div class="row">
                <div class="col-sm-6 blog-post-author">
                  <i class="fa fa-user" aria-hidden="true"></i> <a href="#">Pomelo</a>
                </div>
                <div class="col-sm-6 blog-post-date">
                  <i class="fa fa-calendar" aria-hidden="true"></i> <time datetime="2016-03-03">3 Février, 2018</time>
                </div>
              </div>
            </div>
            <div class="blog-post-body">
              <p><strong>Il semblerait que 80 à 85% des femmes portent des soutiens-gorge mal adaptés. </strong>Mais alors, pourquoi porte-t-on des soutiens-gorge ? Pour être confortable, pour être attirante ou tout simplement et principalement pour maintenir la forme de sa poitrine. Au-delà des statistiques, le plus important est de savoir si nous nous sentons confortable.</p>
            </div>
          </div>
        </article>
 </div>
</div>
</div>
