  <section>
    <div class="swiper-container">
      <div class="parallax-bg" style="background-image:url(http://res.cloudinary.com/dl3nkexul/image/upload/v1517213864/bra-1659570_1920_fiokgj.jpg)" data-swiper-parallax="-15%"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-caption">
            <div class="title" data-swiper-parallax="-100" data-animation="fadeInDownBig">
              <strong>Pomelo</strong>
            </div>
            <div class="subtitle" data-swiper-parallax="-200" data-animation="fadeIn">
            Trouve le soutien-gorge qui te va comme un gant !
            </div>
            <div class="text" data-swiper-parallax="-300" data-animation="fadeInUpBig">
              <a href="/subscribe" class="btn btn-custom btn-lg">J'essaie</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-2 my-md-5">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
          <h1>Plus de confort pour ton intimité</h1>
          <p class="text-center animated fadeInLeft">Trouve les soutiens-gorge adaptés à tes formes !<br>Pomé-lo-lo<br><img src="http://res.cloudinary.com/dl3nkexul/image/upload/c_scale,w_80/v1517324553/noun_563239_cc_dov0i2.png"></p>
        </div>
      </div>
      <div class="background-yellow">
      <div class="row">
        <div class="col-sm-12 col-md-6 section-content animatedParent animateOnce"><img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1517326132/brooke-lark-194251_twk3t8.jpg" class="img-fluid animated fadeIn" alt=""></div>
        <div class="col-sm-12 col-md-6 section-content">
          <h3>Pourquoi Pomelo ?</h3>
          <p>80% des femmes ne portent le soutien-gorge adapté à leur poitrine.</p>
          <p>Armatures qui rentrent dans la peau, bonnet qui s’enfonce dans le sein, bretelles douloureuses, bande du dos qui remonte… Tu te reconnais ?</p>
          <p> <strong>C'est que tu ne portes pas la bonne taille de soutien-gorge !</strong></p>
          <p>&nbsp;</p><a href="/subscribe" type="button" class="btn btn-primary btn-lg btn-block">Je trouve ma taille !</a>
        </div>
      </div>
      </div>
    </div>
  </section>

  <div class="container background-pink">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-12">
        <article class="content">
          <h2>La mission Pomelo</h2>
          <blockquote>
            Chez Pomelo, notre mission est d’<strong>aider toutes les femmes, quels que soient leurs seins</strong>, à trouver un soutien-gorge dans lequel elles se sentent bien ! Celui qui les sublime, qui les rend belles, un soutien-gorge qui s’oublie tellement il est confortable !
          </blockquote>
          <a href="/subscribe" class="btn btn-custom btn-lg">Je trouve le bon !</a>
        </article>
      </div>
    </div>
  </div>

 <p style="text-align: center; padding-top:20px;"> <img src="http://res.cloudinary.com/dl3nkexul/image/upload/c_scale,w_70/v1517211038/logo_pomelo_w345pd.png"></p>
    <div class="container">

    <div class="row">
      <div class="col-md-12 col-lg-10 offset-lg-1 page-indent">
        <article class="content">
          <section class="about mt-4">
            <div class="row header">
              <div class="col-xs-12 col-sm-8 offset-sm-2">
                <h2>Comment ça marche</h2>
                <p class="text-center">Viens faire des essayages à Paris !</p>
                <p class="text-center">Le week-end du 10-11 Mars</p>
              </div>
            </div>

            <div class="row member text-sm-left" data-acos="fadeInRight">
              <div class="col-sm-4 col-md-3 text-center"><img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516124018/bra-logo_e6zj90.png" alt="" class="img-fluid"></div>
              <div class="col-sm-8 col-md-9">
                <div class="name">
              30 minutes pour te faire fitter par une pro
                </div>
                <div class="bio">
                  <p>Une professionnelle t'aide à prendre tes mesures et te donne des conseils personnalisés. Tu vas enfin savoir quels soutiens-gorge vont le mieux à ta forme de seins !</p>
                </div>
              </div>
            </div>
            <div class="row member text-sm-right" data-acos="fadeInLeft">
              <div class="col-xs-12 col-sm-4 col-md-3 text-center"><img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1516124018/bra-logo_e6zj90.png" alt="" class="img-fluid"></div>
              <div class="col-xs-12 col-sm-8 col-md-9 order-sm-first">
                <div class="name">
                  Tu repars avec des cadeaux
                </div>
                <div class="bio">
                  <p>Pour te remercier, on t'offre de la lingerie érotique. Il y aura du champagne et pleins d'autres surprises !</p>
                  <a href="/subscribe" class="btn btn-custom btn-lg">J'essaie</a>
                </div>
              </div>
            </div>

             <p style="text-align: center; padding-top:20px;"> <img src="http://res.cloudinary.com/dl3nkexul/image/upload/c_scale,w_70/v1517211038/logo_pomelo_w345pd.png"></p>

    <div class="container" style="margin-top:20px">
    <div class="row">
      <div class="col-md-12 d-none d-md-block">
        <div class="cover lead-photo" style="background-image: url('http://res.cloudinary.com/dl3nkexul/image/upload/c_scale,w_949/v1517329062/averie-woodard-319832_tyszve.jpg');"></div>
      </div>
    </div>
    <div class="row background-green" style="margin-top:20px">
      <div class="col-md-12 col-lg-10 offset-lg-1">
        <article class="content">
          <h2>Mais pourquoi faisons-nous ça ?</h2>
          <p class="text-justify"><strong>Nous souhaitons donner la possibilité aux femmes d'acheter des soutiens-gorge, directement en ligne et adaptés à leurs morphologies.</strong> Mais pour cela nous avons besoin de savoir quels soutiens-gorge vont à quelles formes de poitrines.</p>
          <h2>Concrètement, pourquoi participer ?</h2>
          <p>Tu repars avec des cadeaux</p>
                  <p>Tu connaîtras enfin la bonne forme et la bonne taille de soutien-gorge à porter</p>
                  <p>Tu passes 30 minutes avec un personnal shopper au top</p>
                  <p>Et en plus tu aides d'autres femmes à trouver le bon soutien-gorge plus facilement !</p>
 <a href="/subscribe" class="btn btn-custom btn-lg">J'essaie</a>

</article>

</div>
</div>
          </section>
        </article>
      </div>
    </div>
  </div>

  <section class="my-2 my-md-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3>Nos inspirations</h3>
          <div class="portfolio grid-4">
            <figure class="animateOnScroll" data-animation="fadeIn">
              <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1517328994/noah-buscher-385639_q1cwaj.jpg" alt="">
            </figure>
            <figure class="animateOnScroll" data-animation="fadeIn">
              <img src="http://res.cloudinary.com/dl3nkexul/image/upload/v1517329021/joshua-k-jackson-202698_ohzypy.jpg" alt="">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-2 my-md-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 section-content text-center" data-acos="fadeInUp">
          <h5>Nous contacter</h5>
          <address>
            <span>contact@pomelolo.fr</span><br><br>
          <p><a href="#"><i class="fab fa-facebook-f social-icon" aria-hidden="true"></i></a> <a href="#"><i class="fab fa-twitter social-icon" aria-hidden="true"></i></a> <a href="#"><i class="fab fa-instagram social-icon" aria-hidden="true"></i></a></p>
        </div>
        <div class="col-sm-12 col-md-6 section-content"><img src="images/place.jpg" class="img-fluid" alt=""></div>
      </div>
    </div>
  </section>


